{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau fabricant
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/style_form.css')}}">
{% endblock %}

{% block content %}


	<div class="head_main">
		<h1>Création d'un nouveau fabricant</h1>
	</div>

	<div class="details">
		<div class="recentOrders">

			<div class="cardHeader">
				<h2>Nouveau fabricant</h2>
				<a href="{{path('app_fabricants')}}">
					<i class="fa fa-close fa-2x" style="color:gray"></i>
				</a>

			</div>

			<div>
				{{form_start(form)}}
					{{ form_row(form.nom)}}
					{{form_row(form.image)}}
					<input type="submit" class="btn" value="Valider">
				{{form_end(form)}}
			</div>

			<h2formule</h2></div>
			<div class="recentCustomers"></div>
		</div>
	{% endblock %}
