{% extends 'admin/base.html.twig' %}

{% block title %}Liste des code promos
{% endblock %}

{% block content %}


	<div class="head_main">
		<h1>Liste des codes promos</h1>
		{% for message in app.flashes('success') %}


		<div class="dialogue_flash" id="alertMessage">
			{{message}}
		</div>
		

	{% endfor %}

	</div>

	<div class="details">
		<div class="recentOrders">

			<div class="cardHeader">
				<h2>Code promos</h2>
				<a href="{{path('app_new_promo')}}" class="btn">Nouveau</a>
			</div>
			{% if promos is empty %}
				<div class="data_empty">
					<h3>Pas de données à afficher
					</h3>
				</div>
			{% else %}
				<table>
					<thead>
						<tr>
							<td>#ID</td>
							<td>Code promo</td>
							<td>Taux promo</td>
							<td>Date début</td>
							<td>Date fin</td>
							<td>Date création</td>
							<td>Actions</td>

						</tr>
					</thead>
					<tbody>

						{% for promo in promos %}

							<tr>
								<td>{{promo.id}}</td>
								
								<td>{{promo.codePromo}}</td>
								<td>{{promo.tauxPromo}} %</td>
								<td>{{promo.dateDebut | date("d/m/Y", "Europe/Paris") }}</td>
								<td>{{promo.dateFin | date("d/m/Y", "Europe/Paris") }}</td>
								<td>{{promo.createdAt | date("d/m/Y", "Europe/Paris") }}</td>
								<td style="display: table-cell;">
									<div style="display: flex;justify-content: space-around;">
										<a href="{{path('app_update_promo', {'id': promo.id})}}" class="btn btn_edit">
											<i class="fa fa-pencil" aria-hidden="true"></i>
										</a>
										<a href="{{path('app_delete_promo', {'id': promo.id})}}" class="btn btn_delete">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</a>
									</div>
								</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>
				{{ knp_pagination_render(promos) }}
			{% endif %}
		</div>
		{# <div class="recentCustomers">
			<div class="cardHeader">
				<h2>Statistiques</h2>
			</div>
			<table>
				<tbody>
				{% for promo in promos %}
					
					<tr>
						<td width="60px">
						</td>
						<td>
							<h4>{{promo.codePromo}}<br/><span>Total produits : {{promo | length}}</span>
							</h4>
						</td>
					</tr>
				{% endfor %}
					
				</tbody>
			</table>
		</div> #}
	</div>
{% endblock %}
