{% extends 'base.html.twig' %}

{% block title %}Historique de mes commande
{% endblock %}

{% block content %}


	<div class="container">
		<h1>Historique des commandes
		</h1>
		<div class="row ">
			{% if commandes %}

				{% for commande in commandes %}
					<div class="col-5 mx-auto">
						<div class="card">
							<div class="card-header">
								Commande N°
								{{commande.numero}}
								Du :
								{{commande.dateFacture |date("d-m-Y à H:s")}}
							</div>
							<div class="card-body">
								<h5 class="card-title">Détails commande</h5>
								<p class="card-text">

									<div>
										{% for produit in commande.contenus %}
											<ul>
												<li>
													<p>{{produit.product.libelle}}
														X
														{{produit.qty}}</p>
												</li>
											</ul>
										{% endfor %}
									</div>
								</p>
                                <div class="text-end">
                                    <p href="#" class="btn btn-dark w-25" >{{commande.montant | number_format(2, '€')}}</p>
                                </div>


							</div>
						</div>

					</div>

				{% endfor %}
			{% else %}
				<div class="text-center py-3" style="background: #CDF0EA">
					<i class="bi bi-clock-history" style="font-size: 12rem;"></i>
					<h2>Votre Historique est vide...</h2>

					<p>Cliquer
						<a href="{{path('app_main')}}">ICI</a>
						pour continuer vos achats 
					</p>
				</div>

			{% endif %}
		</div>


	</div>

{% endblock %}
