{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block content %}

	<div class="cardBox">
		<div class="card">
			<div>
				<div class="numbers">1042</div>
				<div class="cardName">Vus par jour</div>
			</div>
			<div class="iconBox">
				<i class="fa fa-eye" aria-hidden="true"></i>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="numbers">{{nbOrder}}</div>
				<div class="cardName">Commandes</div>
			</div>
			<div class="iconBox">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="numbers">208</div>
				<div class="cardName">Commentaires</div>
			</div>
			<div class="iconBox">
				<i class="fa fa-comment" aria-hidden="true"></i>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="numbers">{{ total | number_format(2, '€') }} </div>
				<div class="cardName">Chiffre d'affaire</div>
			</div>
			<div class="iconBox">
				<i class="fa fa-eur" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<div class="details">
		<div class="recentOrders">
			<div class="cardHeader">
				<h2>Dernières commandes</h2>
				<a href="#" class="btn">Afficher tous</a>
			</div>
			<table>
				<thead>
					<tr>
						<td>Nom</td>
						<td>Prix</td>
						<td>Paiment</td>
						<td>Statut</td>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Star refrigerator</td>
						<td>$1200</td>
						<td>Paid</td>
						<td>
							<span class="status delivered">Livré</span>
						</td>
					</tr>
					<tr>
						<td>Window coolers</td>
						<td>$120</td>
						<td>Due</td>
						<td>
							<span class="status delivered">En attente</span>
						</td>
					</tr>
					<tr>
						<td>Speakers</td>
						<td>$650</td>
						<td>Paid</td>
						<td>
							<span class="status return">Retour</span>
						</td>
					</tr>
					<tr>
						<td>HP Laptop</td>
						<td>$6000</td>
						<td>Due</td>
						<td>
							<span class="status inprogress">En cours</span>
						</td>
					</tr>
					<tr>
						<td>Star refrigerator</td>
						<td>$1200</td>
						<td>Paid</td>
						<td>
							<span class="status delivered">Livré</span>
						</td>
					</tr>
					<tr>
						<td>Window coolers</td>
						<td>$120</td>
						<td>Due</td>
						<td>
							<span class="status pending">En attente</span>
						</td>
					</tr>
					<tr>
						<td>Speakers</td>
						<td>$650</td>
						<td>Paid</td>
						<td>
							<span class="status return">Retour</span>
						</td>
					</tr>
					<tr>
						<td>HP Laptop</td>
						<td>$6000</td>
						<td>Due</td>
						<td>
							<span class="status inprogress">En cours</span>
						</td>
					</tr>
					<tr>
						<td>Star refrigerator</td>
						<td>$1200</td>
						<td>Paid</td>
						<td>
							<span class="status delivered">Livré</span>
						</td>
					</tr>
					<tr>
						<td>Window coolers</td>
						<td>$120</td>
						<td>Due</td>
						<td>
							<span class="status pending">En attente</span>
						</td>
					</tr>
					<tr>
						<td>Speakers</td>
						<td>$650</td>
						<td>Paid</td>
						<td>
							<span class="status return">Retour</span>
						</td>
					</tr>
					<tr>
						<td>HP Laptop</td>
						<td>$6000</td>
						<td>Due</td>
						<td>
							<span class="status inprogress">En cours</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="recentCustomers">
			<div class="cardHeader">
				<h2>Clients récents</h2>
			</div>
			<table>
				<tbody>
					<tr>
						<td width="60px">
							<div class="imgBx">
								<img src="{{asset('assets/images/user.png')}}" alt="" srcset=""/>
							</div>
						</td>
						<td>
							<h4>David<br/><span>Italy</span>
							</h4>
						</td>
					</tr>
					<tr>
						<td width="60px">
							<div class="imgBx">
								<img src="{{asset('assets/images/user.png')}}" alt="" srcset=""/>
							</div>
						</td>
						<td>
							<h4>Ali<br/><span>Morocco</span>
							</h4>
						</td>
					</tr>
					<tr>

						<td width="60px">
							<div class="imgBx">
								<img src="{{asset('assets/images/user.png')}}" alt="" srcset=""/>
							</div>
						</td>
						<td>
							<h4>Jack<br/><span>France</span>
							</h4>
						</td>
					</tr>
					<tr>

						<td width="60px">
							<div class="imgBx">
								<img src="{{asset('assets/images/user.png')}}" alt="" srcset=""/>
							</div>
						</td>
						<td>
							<h4>Donald<br/><span>USA</span>
							</h4>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
