{% extends 'base.html.twig' %}

{% block title %}
	Tech shop || Paiement
{% endblock %}

{% block stylesheat %}
	<link rel="stylesheet" href="{{asset('assets/css/checkout.css')}}"/>
{% endblock %}

{% block content %}
	<div class="container">

		<div class="shadow p-3 mb-5 bg-body rounded">
			<h1>Paiement</h1>

			<p class="titre">PAYMENT DETAILS</p>
			<div class="d-md-flex justify-content-between">
				<div class="d-flex flex-column align-items-center justify-content-center">
					<img src="{{asset('assets/images/logo-stripe.png')}}" alt="stripe logo" class="w-md-100 ">
					<div>
						<p>
							<i class="bi bi-file-lock2"></i>

							Paiement securisé
						</p>
					</div>

				</div>
				<form id="payment-form" action="{{path('app_paiement')}}" method="POST" class="my-4">
					<div class="form-group my-2">
						<label for="name">Nom Prénom</label>
						<input type="text" value="{{app.user.nom ~" "~ app.user.prenom}}" class="form-control" name="name" id="name" placeholder="Nom d'utilisateur">
					</div>
					<div id="card-element" class="input_strip mt-3"></div>

					<!-- We'll put the error messages in this element -->
					<div id="card-errors" role="alert"></div>

					<button id="submit" class="btn_payer">
						<div class="spinner hidden" id="spinner"></div>
						<span>Payer({{total | number_format(2)}}€)</span>
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script src="https://js.stripe.com/v3/"></script>
	<script>
		var stripe = Stripe("pk_test_3SAQzHl0QCEJX548Fgp4xUTA00uOhu03j7");
// Create an instance of Elements
var elements = stripe.elements();
var style = {
base: {
color: "#32325d",
lineHeight: "24px",
fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
fontSmoothing: "antialiased",
fontSize: "20px",
"::placeholder": {
color: "#aab7c4"
}
},
invalid: {
color: "#fa755a",
iconColor: "#fa755a"
}
};

var card = elements.create("card", {style: style});
const displayError = document.getElementById("card-errors");
card.mount("#card-element");
card.addEventListener("change", ({error}) => {
if (error) {
displayError.textContent = error.message;
displayError.style.color = "red";
} else {
displayError.textContent = "";
}
});

var submitButton = document.getElementById("submit");

submitButton.addEventListener("click", function (ev) {
ev.preventDefault();
submitButton.disable = true;
stripe.confirmCardPayment("{{ clientSecret }}", {
payment_method: {
card: card
}
}).then(function (result) {
if (result.error) { // Show error to your customer (e.g., insufficient funds)
submitButton.disable = false;
displayError.textContent = result.error.message;
console.log(result.error.message);
} else { // The payment has been processed!
if (result.paymentIntent.status === "succeeded") {
var paymentIntent = result.paymentIntent;
// var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
var form = document.getElementById("payment-form");
var url = form.action;
var redirect = "/merci";
fetch(url, {
headers: {
"content-type": "application/json",
accept: "application/json, text-plain, */*",
"X-requested-with": "XMLHttpRequest"
},
method: "post",
body: JSON.stringify(
{paymentIntent: paymentIntent}
)
}).then((data) => {
console.log(data);
form.reset();
window.location.href = redirect;
}).catch((error) => {
displayError.textContent = error;
// window.location.href = "/desole";
});
}
}
});
});
	</script>

{% endblock %}
